---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;

import { Image } from "astro:assets";
import thuanFace from "@assets/images/thuan-face.png";

import Tag from "@components/Tag.astro";
import getUniqueTags from "@utils/getUniqueTags";
import { SITE } from "@config";

let tags = getUniqueTags(posts);
---

<Layout>
  <Header activeNav="home" />
  <main id="main-content">
    <section id="hero">
      <p class="text-xl font-bold">Yo!</p>
      <div class="space-y-6">
        <Image
          src={thuanFace}
          width={250}
          format={"png"}
          alt="Thuan Pham"
          loading="eager"
        />
        <Socials />

        <br />

        <p>My name is Thuan.</p>
        <p>
          I sit in front of my computer daily, editing and watching stuff.
          Sometimes I go outside to smell the fresh air or touch grass.
        </p>
        <p>
          I live in Ho Chi Minh City, Vietnam. So, feel free to contact me if
          you'd like me to help you.
        </p>
        <a href="/portfolio">
          <button
            id="shake-button"
            type="button"
            class="text-sl mb-2 me-2 rounded-lg bg-green-700 px-5 py-2.5 font-medium text-white hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
            >Check my Portfolio</button
          >
        </a>
      </div>
    </section>

    <Hr />

    <section id="links">
      <h2 class="title mb-4 text-xl">Links</h2>
      <ul class="space-y-4 sm:space-y-2">
        <li>
          <a
            href="https://brokenricefilms.pages.dev/pay"
            target="_blank"
            rel="noopener noreferrer"
            class="text-lg font-bold decoration-dashed hover:underline"
            >Pay
          </a>
        </li>
        <li>
          <a
            href="https://brokenricefilms.pages.dev/portfolio"
            target="_blank"
            rel="noopener noreferrer"
            class="text-lg font-bold decoration-dashed hover:underline"
            >Portfolio
          </a>
        </li>
        <li>
          <a
            href="https://brokenricefilms.pages.dev/resume"
            target="_blank"
            rel="noopener noreferrer"
            class="text-lg font-bold decoration-dashed hover:underline"
            >Resume
          </a>
        </li>
        <li>
          <a
            href="https://brokenricefilms.pages.dev/meet"
            target="_blank"
            rel="noopener noreferrer"
            class="text-lg font-bold decoration-dashed hover:underline"
            >Meeting
          </a>
        </li>
        <li>
          <a
            href="https://brokenricefilms.pages.dev/m"
            target="_blank"
            rel="noopener noreferrer"
            class="text-lg font-bold decoration-dashed hover:underline"
            >Music i like
          </a>
        </li>
      </ul>
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }

    <Hr />

    <section id="recent-posts">
      <h2>Tags</h2>
      <ul>
        {tags.map(tag => <Tag name={tag} size="lg" />)}
      </ul>
    </section>

    <Hr />

    <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts
            .filter(({ data }) => !data.featured)
            .map(
              ({ data }, index) =>
                index < 9999 && (
                  <Card
                    href={`/posts/${slugify(data)}`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )
        }
      </ul>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-4;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts,
  #links {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2,
  #links h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
  a {
    @apply font-bold;
  }
  #main-content {
    @apply mx-auto w-full max-w-3xl px-4 pb-12 text-lg;
  }

  #shake-button:hover {
    animation: tilt-n-move-shaking 0.25s infinite;
  }

  @keyframes tilt-n-move-shaking {
    0% {
      transform: translate(0, 0) rotate(0deg);
      filter: blur(0.1px);
    }
    25% {
      transform: translate(5px, 5px) rotate(5deg);
      filter: blur(0.25px);
    }
    50% {
      transform: translate(0, 0) rotate(0eg);

      filter: blur(0.5px);
    }
    75% {
      transform: translate(-5px, 5px) rotate(-5deg);

      filter: blur(0.75px);
    }
    100% {
      transform: translate(0, 0) rotate(0deg);

      filter: blur(1px);
    }
  }
</style>
