---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;

import { Image } from "astro:assets";
import thuanFace from "/public/assets/thuan-face.png";

import Tag from "@components/Tag.astro";
import getUniqueTags from "@utils/getUniqueTags";
import { SITE } from "@config";

let tags = getUniqueTags(posts);
---

<Layout>
<Header />
<main id="main-content">
<section id="hero">
<p class="text-xl font-bold">Yo!</p>
<div class="space-y-6">
<Image
src={thuanFace}
width={250}
format={"png"}
alt="thuan pham aka licit free"
loading="eager"
/>
{
    // only display if at least one social link is enabled
    socialCount > 0 && (
            <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
            </div>
            )
}

<br>

<p>My name is Thuan</p>

<p>I sit in front of my computer daily, edit, and watch stuff. Sometimes I go out to smell humans or touch grass</p>

<p>I have a background in Front-end Dev aka I know how to build a website, but I think most of the time this skill helps me build stuff I want</p>

<p>In Sep, 2023 I thought again well i am kinda boring, i don't level up the programming skill i know how to do that, but i didn't. So again 4 years ago i in high school i had the option to do programming or design. I take programming maybe that time like want to be the Mr. Robot :D, but through many years I didn't see myself improve much in programming</p>

<p>So i took a switch to video editing, again i didn't do anything related to video editing in my uni life so yeah keep going hopefully i can enjoy, level up, and live the life i want</p>

<p>Random thought i will post it on my Twitter/X</p>

<p><b>Freedom</b></p>

<p>Contact <a href="mailto:licitfree@gmail.com" class="px-4 py-2 sm:px-2 sm:py-0 sm:hover:text-textColor sm:hover:underline">licitfree@gmail.com</a>  for prices and to get your edit 😊</p>
</div>
</section>

<Hr />


<section id="links">
    <h2 class="title mb-4 text-xl">Timeline for context</h3>
    <ul class="list-inside list-disc">
    <li>
    Dead: <a href="https://licitfree.github.io/posts/last-will--di-ch%C3%BAc/" 
class="sm:hover:text-textColor sm:hover:underline"
    >Last will | Di chúc</a
    >
    </li>
    <li>2023+: Finding the video editor position</li>
    <li>2019-2023: Studying in Saigon Technology University</li>
    <li>
    2007-2019: Spent 12 years study in Nguyễn Văn Trân Primary School, Đa Phước Middle School
    and Đa Phước High School
    </li>
    <li>2001: Born in Ho Chi Minh city, Vietnam</li>
    </ul>
    </section>
<Hr />

<section id="links">
<h2 class="title mb-4 text-xl">Links</h2>
<ul class="space-y-4 sm:space-y-2">
<li>
<a
href="https://licitfree.github.io/pay"
target="_blank"
rel="noopener noreferrer"
class="sm:hover:text-textColor sm:hover:underline"
>Pay
</a>
</li>
<li>
<a
href="https://licitfree.github.io/portfolio"
target="_blank"
rel="noopener noreferrer"
class="sm:hover:text-textColor sm:hover:underline"
>Portfolio
</a>
</li>
<li>
<a
href="https://licitfree.github.io/resume"
target="_blank"
rel="noopener noreferrer"
class="sm:hover:text-textColor sm:hover:underline"
>Resume
</a>
</li>
<li>
<a
href="https://licitfree.github.io/photos"
target="_blank"
rel="noopener noreferrer"
class="sm:hover:text-textColor sm:hover:underline"
>Photos
</a>
</li>
<li>
<a
href="https://licitfree.github.io/music"
target="_blank"
rel="noopener noreferrer"
class="sm:hover:text-textColor sm:hover:underline"
>Music i like
</a>
</li>
<li>
<a
href="https://m.me/licitfree"
target="_blank"
rel="noopener noreferrer"
class="sm:hover:text-textColor sm:hover:underline"
>Chat with me
</a>
</li>
<li>
<a
href="https://licitfree.github.io/meet"
target="_blank"
rel="noopener noreferrer"
class="sm:hover:text-textColor sm:hover:underline"
>Meeting
</a>
</li>
</ul>

</section>

<Hr />

{
    featuredPosts.length > 0 && (
            <>
            <section id="featured">
            <h2>Featured</h2>
            <ul>
            {featuredPosts.map(({ data }) => (
                        <Card
                        href={`/posts/${slugify(data)}`}
                        frontmatter={data}
                        secHeading={false}
                        />
                        ))}
            </ul>
            </section>
            <Hr />
            </>
            )
}

<Hr />

<section id="recent-posts">
<h2>Tags</h2>
<ul>
    {tags.map(tag => <Tag name={tag} size="lg" />)}
</ul>

</section>

<Hr />

<section id="recent-posts">
<h2>Recent Posts</h2>
<ul>
{
    sortedPosts
        .filter(({ data }) => !data.featured)
        .map(
                ({ data }, index) =>
                index < 9999 && (
                    <Card
                    href={`/posts/${slugify(data)}`}
                    frontmatter={data}
                    secHeading={false}
                    />
                    )
            )
}
</ul>
</section>
</main>

<Footer />
</Layout>

<style>
/* ===== Hero Section ===== */
#hero {
    @apply pb-6 pt-8;
}
#hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
}
#hero .rss-link {
    @apply mb-6;
}
#hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
}
#hero p {
    @apply my-4;
}
.social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
}
.social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
}

/* ===== Featured & Recent Posts Sections ===== */
#featured,
#recent-posts,
#links {
    @apply pb-6 pt-12;
}
#featured h2,
#recent-posts h2,
#links h2 {
    @apply text-2xl font-semibold tracking-wide;
}
.all-posts-btn-wrapper {
    @apply my-8 text-center;
}
a {
    @apply font-bold;
color: #228b22;
}
</style>
